<div style="text-align: center;">OR</div>
<FORM name="paymentform" id="paymentform" METHOD="POST" ACTION="https://mdepayments.epdq.co.uk/ncol/{{ live_payment_system ? 'prod' : 'test' }}/orderstandard.asp">
    <INPUT type="hidden" NAME="PSPID" value="{{ pspid }}">
    <INPUT type="hidden" NAME="ORDERID" value="{{ orderid }}">
    <INPUT type="hidden" NAME="AMOUNT" value="{{ amount }}">
    <INPUT type="hidden" NAME="CURRENCY" value="{{ currency }}">
    <INPUT type="hidden" NAME="LANGUAGE" value="{{ language }}">
    <INPUT type="hidden" NAME="SHASIGN" value="{{ shasign }}">

    <INPUT type="hidden" NAME="ACCEPTURL" VALUE="{{ accepturl }}">
    <INPUT type="hidden" NAME="DECLINEURL" VALUE="{{ declineurl }}">
    <INPUT type="hidden" NAME="EXCEPTIONURL" VALUE="{{ exceptionurl }}">
    <INPUT type="hidden" NAME="CANCELURL" VALUE="{{ cancelurl }}">
    <INPUT type="hidden" NAME="BACKURL" VALUE="{{ backurl }}">

    <br/>
    <div style="text-align: center;">
        <input style="visibility: hidden;" id="submitpaymentform" name="submitpaymentform" onclick="processDeliveryForm(0);" class="inputbutton" style="width: 240px;" type="button" value="CONTINUE TO PAYMENT">
        <noscript>
            <div name="enablejavascript" id="enablejavascript" style="font-weight: bold;">
                    For full functionality of this site it is necessary to enable JavaScript.
                    Here are the <a href="http://www.enable-javascript.com/" target="_blank">
                        instructions how to enable JavaScript in your web browser</a>.
            </div>
        </noscript>
    </div>
</form>