{% include 'dftSiteBundle:Common:top.html.twig' %}

{# Include opening time and contact. #}
{% include 'dftSiteBundle:Common:opening-time-contact.html.twig' %}

<!-- Header -->
<header class="header_bg clearfix">
    <div class="top-menu clearfix">
        {# Include menu logo. #}
        {% include 'dftSiteBundle:Common:menu-logo.html.twig' %}
        {# Include top menu. #}
        {% include 'dftSiteBundle:Common:top-menu.html.twig' %}
    </div>
</header>
<!-- /Header -->

<div class="clear"></div>


<section class="banner_login_bg clearfix">

    <header class="container clearfix">
        <div class="banner_contact">
            <h1>Account</h1>

            <p class="text-white">Home > Account</p>
        </div>

        <div class="clear"></div>
    </header>
</section>

<div class="clear padding40"></div>

<section class="container clearfix">


    <div class="review" style="width: 1000px;">
        <div class="forgot_password_box" style="width: 100%;">
            <h2 style="width: 100%; text-align: center;">Your Account</h2>
            <hr style="width: 998px;">

            <form action="" id="myForm" method="POST">
                <table style="width: 600px;">
                    {% if error_message %}
                        <tr>
                            <td colspan="2" style="vertical-align: middle; padding-right: 10px; font-size: 14px; text-align: center; font-weight: bold;">
                                {{ error_message }}
                            </td>
                        </tr>
                    {% endif %}
                    <tr style="height: 46px;">
                        <td style="vertical-align: middle; padding-right: 10px; font-size: 14px; text-align: right;">
                            Name:
                            <input class="inputText resetPassEmailInput" type="text" style="font-size: 14px;" id="name" name="name"
                                   placeholder="" value="{{ customer_data.name }}"/>
                        </td>
                    </tr>
                    <tr style="height: 46px;">
                        <td style="vertical-align: middle;padding-right: 10px; font-size: 14px; text-align: right;">
                            Email:
                            <input class="inputText resetPassEmailInput" type="text" style="font-size: 14px;" id="email" name="email"
                                   placeholder="" value="{{ customer_data.email }}"/>
                        </td>
                    </tr>
                    <tr style="height: 46px;">
                        <td style="vertical-align: middle;padding-right: 10px; font-size: 14px; text-align: right;">
                            Post code:
                            <input class="inputText resetPassEmailInput" type="text"  style="font-size: 14px;" id="post_code" name="post_code"
                                   placeholder="" value="{{ customer_data.post_code }}"/>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle;padding-right: 10px; font-size: 14px; text-align: right;">
                            Address:
                            <input class="inputText resetPassEmailInput" type="text" style="font-size: 14px;" id="address" name="address"
                                   placeholder="" value="{{ customer_data.address }}"/>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle;padding-right: 10px; font-size: 14px; text-align: right;">
                            Phone number:
                            <input class="inputText resetPassEmailInput" type="text" style="font-size: 14px;" id="phone_number" name="phone_number"
                                   placeholder="" value="{{ customer_data.phone_number }}"/>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle;padding-right: 10px; font-size: 14px; text-align: right;">
                            Current password:
                            <input class="inputText resetPassEmailInput" style="font-size: 14px;" type="password" id="current_password" name="current_password"
                                   placeholder="" value=""/>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle;padding-right: 10px; font-size: 14px; text-align: right;">
                            New password:
                            <input class="inputText resetPassEmailInput" style="font-size: 14px;" type="password" id="new_password" name="new_password"
                                   placeholder="" value=""/>
                        </td>
                    </tr>
                </table>

                <div class="clear"></div>
                <div class="clear padding20"></div>
                <hr style="width: 998px;">

                <div style="text-align: center;">
                    <input type="submit" class="inputbutton" style="width: 240px;" value="Update profile"/>
                </div>

                <div class="clear"></div>
            </form>
        </div>
    </div>

</section>
<!--------right area end--------->


<div class="clear padding40"></div>

{# Footer. #}
{% include 'dftSiteBundle:Common:footer.html.twig' %}

{# Bottom. #}
{% include 'dftSiteBundle:Common:bottom.html.twig' %}