{% include 'dftSiteBundle:Common:top.html.twig' %}

{# Include opening time and contact. #}
{% include 'dftSiteBundle:Common:opening-time-contact.html.twig' %}

<!-- Header -->
<header class="header_bg clearfix">
    <div class="top-menu clearfix">
        {# Include menu logo. #}
        {% include 'dftSiteBundle:Common:menu-logo.html.twig' %}
        {# Include top menu. #}
        {% include 'dftSiteBundle:Common:top-menu.html.twig' %}
    </div>
</header>
<!-- /Header -->

<div class="clear"></div>


<section class="banner_about_bg clearfix">

    <header class="container clearfix">
        <div class="banner_about">
            <h1>Menu</h1>
            <p class="text-white">Home > Menu</p>
        </div>

        <div class="clear"></div>
    </header>
</section>

<div class="clear padding40"></div>

<section class="container clearfix">
    <div class=" menu_list small_screen">
        <select name="menu" class="hidden_list">
            {% for category in menu_item_categories %}
                <option value="{{ category.category_name }}"><a href="">{{ category.category_name }}</a></option>
            {% endfor %}
        </select>
    </div>
</section>

{% if restaurant_closed %}
    <div style="width: 100%; font-weight: bold; font-size: 23px; text-align: center;">Our takeaway is now closed. We will be open between {{ restaurant_settings.opening_time }} and {{ restaurant_settings.closing_time }}.</div>
    <br/>
{% endif %}
{% if lunch_break %}
    <div style="width: 100%; font-weight: bold; font-size: 23px; text-align: center;">Our team is on lunch break between {{ restaurant_settings.lunch_break_start }} and {{ restaurant_settings.lunch_break_end }}.</div>
    <br/>
{% endif %}

<section class="container clearfix">
    <script>
        $(document).ready(function() {
            $("#menu_list").stick_in_parent();
            $("#cart_box").stick_in_parent();
        });
    </script>

    <div id="menu_list" class="menu_list full_screen">
        <div class="clearfix">
            <!--------left area--------->
            <h2>Our Menu</h2>
            <h1 class="regular brown bottom_line"></h1>
            <div class="menu_cat">
                <ul>
                    {% for category in menu_item_categories %}
                        <li><a href="/menu/{{ category.url }}">{{ category.category_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>

    <div class="menu_detail">

        <div class="clearfix">
            <!--------left area--------->
            <h2>{{ selected_category_id ? selected_category_id | replace({ '-': ' ' }) : 'All menu items' }}</h2>
            <h1 class="regular brown bottom_line"></h1>

        </div>

        <div class="clear padding"></div>

    {% if menu_items.data is defined %}
        {% for menu_item in menu_items.data %}
            <div class="menu-h4-left"><h4 style="color: black;">{{ menu_item.item_name }}</h4></div><div class="menu-h4-right"><h3>£{{ menu_item.price }}</h3><a href="?cart_add_item={{ menu_item.id }}"><img src="/images/icon_cart_in.png" /></a></div>

            {% if menu_item.item_description %}
                <div class="clear padding10"></div>
                <p>{{ menu_item.item_description }}</p>
            {% endif %}
            <div class="clear padding40"></div>
        {% endfor %}
    {% endif %}
    </div>

    {% if discounts.generic|length > 0 or discounts.option|length > 0 %}
        <div class="cart_box cart_hide" style="margin-bottom: 30px !important;">
            <div>
                <h4>Discounts</h4>
                <h1 class="regular brown bottom_line"></h1>
            </div>
            <div class="clear"></div>

            <div class="box_heading">
                <form>
                    <table>
                        {% for discount in discounts.generic %}
                            <tr>
                                <td><input type="checkbox" checked disabled /></td>
                                <td style="text-align: left; padding-left: 3px; font-family: 'Open Sans', sans-serif; font-size: 12px;">{{ discount.discount_name }}</td>
                            </tr>
                        {% endfor %}
                        {% if discounts.option|length > 0 %}
                            <tr>
                                <td colspan="2"><b>Select a discount and add the discounted menu item to your shopping cart.</b></td>
                            </tr>
                            <tr>
                                <td><input {{ option_discount_id == 0 ? 'checked' : '' }} type="radio" name="discount" value="0" /></td>
                                <td style="text-align: left; padding-left: 3px; font-family: 'Open Sans', sans-serif; font-size: 12px;">None</td>
                            </tr>
                        {% endif %}
                        {% for discount in discounts.option %}
                            <tr>
                                <td><input {{ option_discount_id == discount.id ? 'checked' : '' }} type="radio" name="discount" value="{{ discount.id }}" /></td>
                                <td style="text-align: left; padding-left: 3px; font-family: 'Open Sans', sans-serif; font-size: 12px;">{{ discount.discount_name }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </form>
            </div>
        </div>
        <script language="JavaScript">
            function discountSelectionChange(event) {
                document.location = document.location + "?discount_id=" + event.target.value;
            }
            $('input[name=discount]:radio').change(discountSelectionChange);
        </script>
    {% endif %}

    <div id="cart_box" class="cart_box cart_hide">
        <div>
            <h4>Your Cart</h4>
            <h1 class="regular brown bottom_line"></h1>
        </div>
        <div class="clear"></div>

        <div style="text-align: center; width: 100%;">
            <br/>
            <noscript>
                <div name="enablejavascript" id="enablejavascript" style="font-weight: bold;">
                    For full functionality of this site it is necessary to enable JavaScript.
                    Here are the <a href="http://www.enable-javascript.com/" target="_blank">
                        instructions how to enable JavaScript in your web browser</a>.
                </div>
            </noscript>
            <select name="delivery_type" id="delivery_type" class="inputText resetPassEmailInput" style="font-size: 12px; width: 240px;" >
                <option value="1" {{ delivery_type == 1 ? "selected" : '' }}>Delivery (Est: {{ restaurant_settings.default_delivery_time }} minutes)</option>
                <option value="2" {{ delivery_type == 2 ? "selected" : '' }}>Collection (Est: {{ restaurant_settings.default_collection_time }} minutes)</option>
            </select>
            <script language="JavaScript">
                // Handle delivery type changes.
                $('#delivery_type').change(function() {
                    document.location = document.location + "?delivery_type=" + $('#delivery_type').val();
                });
            </script>
        </div>

        {% if delivery_type == 1 and restaurant_settings.minimum_website_order_value %}
            <div style="font-weight: bold; text-align: center; width: 100%;">Minimum order: {{ restaurant_settings.minimum_website_order_value }} GBP</div>
        {% endif %}
        {% if shopping_cart_items|length > 0 %}
            <div class="box_heading">
                <ul>
                    <li>Dish Name</li>
                    <li>Qty.</li>
                    <li>Price</li>
                    <li></li>
                </ul>
            </div>

            <div class="clear"></div>

            <div class="dishes">
                {# Prepare a total price variable, and display items. #}
                {% set total_price = 0 %}
                {% for item in shopping_cart_items %}
                    {# Compute total price. #}
                    {% set total_price = total_price + item.price %}
                    <ul>
                        <li>{{ item.name|length > 15 ? item.name|slice(0, 15) ~ '...' : item.name  }}</li>
                        <li>{{ item.count }}</li>
                        <li>£{{ item.price }}</li>
                        <li><a href="?cart_remove_item={{ item.id }}"><img src="/images/pricing_remove.png" alt="" /></a></li>
                    </ul>
                {% endfor %}
                <ul>
                    <li><b>TOTAL</b></li>
                    <li><b>{{ shopping_cart_item_count }}</b></li>
                    <li><b>£{{ total_price }}</b></li>
                    <li>&nbsp;</li>
                </ul>
            </div>

            <div class="clear"></div>

            {% if not lunch_break and not restaurant_closed and (delivery_type == 2 or total_price >= restaurant_settings.minimum_website_order_value) %}
                <div class="order_tbn"><a href="/cart/">ORDER NOW</a></div>
            {% endif %}
        {% else %}
            <div class="box_heading" style="width: 100%; text-align: center;">Your shopping cart is empty.</div>
        {% endif %}


    </div>

</section>
<!--------right area end--------->


<div class="clear padding40"></div>

{# Footer. #}
{% include 'dftSiteBundle:Common:footer.html.twig' %}

{# Bottom. #}
{% include 'dftSiteBundle:Common:bottom.html.twig' %}