{% include 'dftSiteBundle:Common:top.html.twig' %}

{# Include opening time and contact. #}
{% include 'dftSiteBundle:Common:opening-time-contact.html.twig' %}

<!-- Header -->
<header class="header_bg clearfix">
    <div class="container clearfix">
        {# Include menu logo. #}
        {% include 'dftSiteBundle:Common:menu-logo.html.twig' %}
        {# Include top menu. #}
        {% include 'dftSiteBundle:Common:top-menu.html.twig' %}
    </div>
</header>
<!-- /Header -->

<div class="clear"></div>


<section class="banner_about_bg clearfix">

    <header class="container clearfix">
        <div class="banner_about">
            <h1>Your Cart</h1>
            <p class="text-white">Home > Cart</p>
        </div>

        <div class="clear"></div>
    </header>
</section>

<div class="clear padding40"></div>


<section class="container clearfix">


    <div class="cart_box2">
        <div>
            <h4>Your Cart</h4>
            <h1 class="regular brown bottom_line"></h1>
        </div>
        <div class="clear"></div>

        {% if shopping_cart_items|length > 0 %}
            <div class="box_heading2">
                <ul>
                    <li>Dish Name</li>
                    <li>Qty.</li>
                    <li>Price</li>
                    <li>Remove</li>
                </ul>

            </div>

            <div class="clear"></div>

            <div class="dishes2">
                {# Prepare a total price variable, and display items. #}
                {% set total_price = 0 %}
                {% for item in shopping_cart_items %}
                    {# Compute total price. #}
                    {% set total_price = total_price + item.price %}
                    <ul>
                        <li>{{ item.name|length > 15 ? item.name|slice(0, 15) ~ '...' : item.name  }}</li>
                        <li>{{ item.count }}</li>
                        <li>£{{ item.price }}</li>
                        <li><a href="?cart_remove_item={{ item.id }}"><img src="/images/pricing_remove.png" alt="" /></a></li>
                    </ul>
                {% endfor %}
                <ul>
                    <li><b>TOTAL</b></li>
                    <li><b>{{ shopping_cart_item_count }}</b></li>
                    <li><b>£{{ total_price }}</b></li>
                    <li>&nbsp;</li>
                </ul>
            </div>

            <div class="clear"></div>

            <div class="order_tbn"><a href="">CONTINUE TO PAYMENT</a></div>
        {% else %}
            <div class="box_heading">Your shopping cart is empty. Click <a href="/menu/">here</a> to browse our Food Menu.</div>
        {% endif %}
    </div>

</section>
<!--------right area end--------->

<div class="clear padding40"></div>

{# Footer. #}
{% include 'dftSiteBundle:Common:footer.html.twig' %}

{# Bottom. #}
{% include 'dftSiteBundle:Common:bottom.html.twig' %}