{% include 'dftSiteBundle:Common:top.html.twig' %}

{# Include opening time and contact. #}
{% include 'dftSiteBundle:Common:opening-time-contact.html.twig' %}

<!-- Header -->
<header class="header_bg clearfix">
    <div class="top-menu clearfix">
        {# Include menu logo. #}
        {% include 'dftSiteBundle:Common:menu-logo.html.twig' %}
        {# Include top menu. #}
        {% include 'dftSiteBundle:Common:top-menu.html.twig' %}
    </div>
</header>
<!-- /Header -->

<div class="clear"></div>


<section class="banner_about_bg clearfix">

    <header class="container clearfix">
        <div class="banner_about">
            <h1>Your Cart</h1>
            <p class="text-white">Home > Cart</p>
        </div>

        <div class="clear"></div>
    </header>
</section>

<div class="clear padding40"></div>

{% if restaurant_closed %}
    <div style="width: 100%; font-weight: bold; font-size: 23px; text-align: center;">Our restaurant is now closed. We will be open between {{ restaurant_settings.opening_time }} and {{ restaurant_settings.closing_time }}.</div>
    <br/>
{% endif %}

<section class="container clearfix">


    <div class="cart_box2" style="width: 1000px;">
        <div>
            <h4>Your Cart</h4>
            <h1 class="regular brown bottom_line"></h1>
        </div>
        <div class="clear"></div>

        {% if delivery_type == 1 and restaurant_settings.minimum_website_order_value %}
            <div style="font-weight: bold; text-align: center; width: 100%;">Minimum order: {{ restaurant_settings.minimum_website_order_value }} GBP</div>
        {% endif %}

        {% if shopping_cart_items|length > 0 %}
            <div class="clear"></div>

            <div class="box_heading2" style="width: 1000px;">
                <ul style="padding-top: 10px;">
                    <li style="margin-right: 0px; padding-bottom: 10px;">Dish Name</li>
                    <li style="margin-right: 0px; padding-bottom: 10px;">Qty.</li>
                    <li style="margin-right: 0px; padding-bottom: 10px;">Price</li>
                    <li style="margin-right: 0px; padding-bottom: 10px; width: 118px;">Remove</li>
                </ul>

            </div>

            <div class="dishes2">
                {# Prepare a total price variable, and display items. #}
                {% set total_price = 0 %}
                {% for item in shopping_cart_items %}
                    {# Compute total price. #}
                    {% set total_price = total_price + item.price %}
                    <ul>
                        <li>{{ item.name }}</li>
                        <li>{{ item.count }}</li>
                        <li>£{{ item.price }}</li>
                        <li style="height: 24px; width: 105px;"><a href="?cart_remove_item={{ item.id }}"><img src="/images/pricing_remove.png" alt="" /></a></li>
                    </ul>
                {% endfor %}
                <ul>
                    <li><b>TOTAL</b></li>
                    <li><b>{{ shopping_cart_item_count }}</b></li>
                    <li><b>£{{ total_price }}</b></li>
                    <li style="height: 24px; width: 105px;">&nbsp;</li>
                </ul>
            </div>

            <div class="clear"></div>
            <br/>
            <div style="text-align: center;">
                {% if not restaurant_closed and (delivery_type == 2 or total_price >= restaurant_settings.minimum_website_order_value) %}
                    <form method="POST" action="/delivery/">
                        <input type="hidden" name="order_id" id="order_id" value="{{ order_id }}"/>
                        <input type="submit" class="inputbutton" style="width: 340px;" value="Continue to Delivery Details"/>
                    </form>
                {% endif %}
            </div>
        {% else %}
            <div class="box_heading" style="width: 100%; text-align: center;">Your shopping cart is empty. Click <a href="/menu/">here</a> to browse our <a href="/menu/">Food Menu</a>.</div>
        {% endif %}
    </div>

</section>
<!--------right area end--------->

<div class="clear padding40"></div>

{# Footer. #}
{% include 'dftSiteBundle:Common:footer.html.twig' %}

{# Bottom. #}
{% include 'dftSiteBundle:Common:bottom.html.twig' %}